<%- include('../partials/header', { title: 'Thank You – Artemisia Pharma' }) %>
<section class="reveal">
  <h1>Thank You!</h1>
  <p>Your message has been received. We’ll get back to you soon.</p>
  <a href="/">Return to Home</a>
</section>
<%- include('../partials/footer') %>
